* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.table1-div{
    position: relative;
    top: 95px;
    left: 30px;
    width: 220px;
    /* border: 2px solid red; */
}

#para {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: 600;
    position: relative;
    left: 20px;
    top: 2px;
}

.table1 {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    border: 2px solid;
}

.cell-t1 {
    border: 1.5px solid;
    height: 135px;
    width: 120px;
    border-bottom: 2px solid;
}

/* ------ table 2 ------ */

.table2-div{
    position: absolute;
    top: 0;
    left: 500px;
    font-size: 13px;
    /* border: 2px solid red; */
    /* margin: -22px; */
}

.table2{
    border-collapse: collapse;
    /* margin: 20px; */
    text-align: center;
    border: 2px solid;
}

.cell-t2{
    border: 1.5px solid;
    height: 135px;
    width: 50px;
    border-bottom: 2px solid;
}

#cell-7{
    background-color: #8EAADA;
}

#cell-8-span{
    font-size: 12px;
}

#cell-8{
    background-color: #FFC000;
}

/* ---- letters ---- */

.letters{
    /* border: 2px solid green; */
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    row-gap: 120px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 450px;
}

/* ----- table 3 ----- */

.table3-div{
    /* width: 700px; */
    /* height: 500px; */
    /* border: 2px solid blue; */
    position: absolute;
    top: 385px;
    left: 800px;
}

.table3{
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    border: 1.5px solid;
}

.cell-t3{
    border: 1px solid;
    height: 14px;
    width: 60px;
    border-bottom: 2px solid;
    font-size: 13px;
}

.r{
    font-weight: 600;
}

#a{
    width: 150px;
}

/* ----- table 4 ----- */

.table-colors{
    width: 30%;
    /* height: 100px; */
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 200px;
    left: 900px;
    /* border: 2px solid orange; */
}

.table4{
    border-collapse: collapse;
}

.cell-t4{
    width: 60px;
    height: 20px;
    border: 1px solid;
}

.t{
    width: 240px;
}

#hi{
    width: 300px;
    border: none;
}

.do{
    border: 2px solid;
}

.do1{
    background-color: #FFC000;
    border: none;
    border: 1px solid #FFC000;
}

.do2{
    background-color: #8EAADA;
    border: none;
    border: 1px solid #8EAADA;
}

.do3{
    background-color: #BFBFBD;
    border: none;
    border: 1px solid #BFBFBD;
}

.do4{
    background-color: #92D14F;
    border: none;
    border: 1px solid #92D14F;
}
